{
  "env": {
    "browser": true,
    "node": true
  },
  "extends": ["eslint:recommended", "plugin:react/recommended", "next"],
  "plugins": ["react"],
  "rules": {
    "no-unused-vars": "warn",
    "no-redeclare": "warn",
    "react/display-name": "off",
    "no-undef": "off"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
